.container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .container div {
    width: 33%;
    height: 100px;
    border: 1px solid blue;
    box-sizing: border-box;
  }
  
  /**
    Jeff is about to starting working on this and wants to check commit
  **/
